

body {
    background :lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  
  nav {
    margin: 20px 0;
  }
  
  .contact-item {
    margin-bottom: 10px;
  }
  h1
  {
    font: italic bold 40px consolas, sans-serif; 
    
  }
  h1.blur
  {
    text-shadow : 3px 3px 5px yellow;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    background-color: #f0f0f0;
    margin-top: 40px;
    color: #444;
  }
  footer a {
    color: #333;
    text-decoration: none;
  }
  